@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Wendy+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #dbcba0;

  color: #1c1c1b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-qheader.is-open .o-qheader-background {
  left: 0;
}
.o-qheader-button-wrapper {
  margin-left: auto;
}
.o-qheader-icon {
  display: none;
}

.o-qheader-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-qnavigation-list.is-open {
  right: 0;
}
.o-qheader-icon-menu {
  display: block;
}

.o-qheader-icon-button.is-open .o-qheader-icon-menu {
  display: none;
}

.o-qheader-icon-button.is-open .o-qheader-icon-close {
  display: block;
}

.o-qheader {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #dbcba0;
}

.o-qheader-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #dbcba0;
}
.o-qheader.is-open .o-qheader-background {
  left: 0;
}
.o-qheader-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-qheader-icon-menu {
  display: block;
}

.o-qheader-icon-button.is-open .o-qheader-icon-menu {
  display: none;
}

.o-qheader-icon-button.is-open .o-qheader-icon-close {
  display: block;
}

.o-qnavigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.o-qnavigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;

  border-radius: 16px;

  padding-top: 16px;
  padding-bottom: 60px;

  gap: 28px;
  background: #dbcba0;
}

.o-qnavigation-list.is-open {
  right: 0;
}

.o-qnavigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #1c1c1b;
  font-family: Encode Sans Expanded;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.o-qnavigation-link:hover,
.o-qnavigatioт-link:focus {
  color: #6c4817;
}

.o-qheader.is-open {
  background-color: transparent;
}

.o-qnavigation-img {
  display: none;
}

@media screen and (min-width: 1207px) {
  .o-qnavigation-img {
    display: block;
    margin-right: 500px;
  }
  .o-qpolicy-terms-header-icon-menu {
    display: none;
  }
  .o-qheader-button-wrapper {
    display: none;
  }
  .o-qheader {
    width: 100%;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-qheader-icon-button {
    display: none;
  }
  .o-qnavigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .o-qnavigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 42px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-qnavigation-link {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-qnavigation-item-desk {
    display: none;
  }
}

.o-qhome {
  background-image: url("/img/Hero\ \(2\).png");
  margin: auto;
  background-size: cover;
  background-position: top;
}
.o-qhome-container {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Hero.png");
  padding: 308px 16px 0px;
  margin: auto;
}

.o-qhome-title {
  display: none;
}

.o-qhome-text {
  font-family: Encode Sans Expanded;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;

  padding: 0px 0 32px;
}
.o-qhome-text-two {
  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-bottom: 248px;
}
.o-qhome-link {
  width: 256px;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.o-qhome-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1207px) {
  .o-qhome-container {
    width: 1440px;
    height: 722px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/Hero\ \(1\).png");
    padding: 74px 71px 0px;
    margin: auto;
  }

  .o-qhome-title {
    display: block;
    width: 585px;
  }

  .o-qhome-text {
    font-family: Encode Sans Expanded;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    margin-top: -40px;
    padding: 0px 89px 64px;
  }
  .o-qhome-text-two {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    width: 599px;
    padding-bottom: 32px;
    padding-left: 89px;
  }
  .o-qhome-link {
    margin: 0;
    transition: all 0.3s ease-in-out;
    margin-left: 89px;
  }
}
.o-qabout {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Hero\ \(2\).png");
}
.o-qabout-container {
  width: 375px;
  height: 1408px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Features.png");
  padding: 60px 16px 0px;
  margin: auto;
}
.o-qabout-title {
  font-family: Wendy One;
  font-weight: 400;
  font-style: Regular;
  font-size: 44px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  -webkit-text-stroke: 2px #ffffff;
  color: #6c4817;
}
.o-qabout-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 64px;
}
.o-qabout-text {
  font-family: Encode Sans Expanded;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-qabout-text-bold {
  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 8px;
}

@media screen and (min-width: 1207px) {
  .o-qabout {
    width: 1440px;
  }
  .o-qabout-container {
    width: 1440px;
    height: 747px;
    padding: 80px 160px 0 736px;
    background-image: url("/img/Features\ \(1\).png");
  }
  .o-qabout-title {
    font-family: Wendy One;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .o-qabout-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 80px;
    width: 544px;
  }
  .o-qabout-text {
    font-family: Encode Sans Expanded;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-qabout-text-bold {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
}
.o-qwhy {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Hero\ \(2\).png");
}
.o-qwhy-container {
  width: 375px;
  margin: auto;
  height: 907px;
  padding: 60px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/How\ It\ Works.png");
}
.o-qwhy-list {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.o-qwhy-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.o-qwhy-text-bold {
  width: 32px;
  height: 32px;
}
.o-qwhy-text {
  font-family: Encode Sans Expanded;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.o-qwhy-text-two {
  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1207px) {
  .o-qwhy-container {
    width: 1440px;
    height: 610px;
    padding: 80px 736px 0 160px;
    background-image: url("/img/How\ It\ Works\ \(1\).png");
  }
  .o-qwhy-list {
    padding-top: 80px;
  }

  .o-qwhy-text {
    font-family: Encode Sans Expanded;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .o-qwhy-text-two {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.o-qreviews {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Hero\ \(2\).png");
}
.o-qreviews-container {
  margin: auto;
  padding: 60px 16px;
  width: 375px;
}
.o-qreviews-list {
  padding-top: 64px;
}

.o-qreviews-item {
  margin: 0 8px auto;
  border: 2px solid #ffffff;
  background: #6c4817;
  width: 300px;

  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  gap: 16px;
  angle: 0 deg;
  opacity: 1;
  top: 177px;
  left: 16px;
  border-width: 2px;
  border-radius: 24px;
}

.o-qreviews-img {
  height: 18px;
}
.o-qreviews-text-bold {
  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  color: #ffffff;
  letter-spacing: 0%;
  padding: 16px 0;
}

.o-qreviews-text {
  font-family: Encode Sans Expanded;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
  color: #dbcba0;
}

@media screen and (min-width: 1207px) {
  .o-qreviews-container {
    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }
  .o-qreviews-list {
    padding-top: 80px;
  }

  .o-qreviews-item {
    margin: 0 16px auto;
    width: 352px;

    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-width: 2px;
    border-radius: 24px;
  }

  .o-qreviews-text-bold {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-qreviews-text {
    font-family: Encode Sans Expanded;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
  }
}
.o-qfaq {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Hero\ \(2\).png");
}
.o-qfaq-container {
  padding: 60px 16px;
  width: 375px;
  margin: auto;
}
.o-qfaq-list {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.o-qfaq-item {
  background: #6c4817;
  border: 2px solid #ffffff;

  border-radius: 24px;
  border-width: 2px;
  padding: 14px 22px;
  color: #ffffff;
}

.o-qfaq-question {
  display: flex;
  justify-content: space-between;
  font-family: Encode Sans Expanded;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-qfaq-answer {
  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-qtoggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-qtoggle-button img {
  width: 28px;
  transition: transform 0.3s ease;
}
.o-qfaq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-qfaq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 8px;
}

.o-qtoggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1207px) {
  .o-qfaq-container {
    padding: 80px 160px;
    width: 1440px;
    min-width: 641px;
    margin: auto;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: top;
    background-image: url("/img/FAQ.png");
  }
  .o-qfaq-list {
    padding-top: 80px;
    width: 736px;
  }

  .o-qfaq-item {
  }

  .o-qfaq-question {
    font-family: Encode Sans Expanded;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-qfaq-answer {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.o-qpolicy-terms-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;

  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-qpolicy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Wendy One;
  font-weight: 400;
  font-style: Regular;
  font-size: 44px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.o-qpolicy-terms-container h3 {
  margin: 20px 0;
  font-family: Encode Sans Expanded;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.o-qpolicy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}
.o-qpolicy-terms-container a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 1207px) {
  .o-qpolicy-terms-container {
    padding: 140px 160px 80px;
    width: 1440px;
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .o-qpolicy-terms-container h1 {
    font-family: Wendy One;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .o-qpolicy-terms-container h3 {
    font-family: Encode Sans Expanded;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.o-qfooter-container {
  width: 375px;
  padding: 40px 16px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #dbcba0;
  gap: 40px;
}

.o-qfooter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-qfooter-text {
  text-decoration: none;
  color: inherit;
  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.o-qfooter-copyright {
  font-family: Encode Sans Expanded;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1207px) {
  .o-qfooter-container {
    width: 1440px;
    padding: 40px 160px 16px;
    gap: 40px;
  }

  .o-qfooter-text {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .o-qfooter-copyright {
    font-family: Encode Sans Expanded;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
